*.res
*.eval
*.pdf
eval/*
fusion/*
target/*
*.txt
var/*
*.out
train/
2017/*
2017train/*
2018train/*
2018train_0831/*
2017test/*
2018test/*
2017trainboolean/*
2017testboolean/*
2018testboolean/*
2018trainboolean/*
2017testtitle_IDFr/*
2017testtitle_KLI/*
2017traintitle_IDFr/*
2017traintitle_KLI/*
2018testtitle_IDFr/*
2018testtitle_KLI/*
2018traintitle_IDFr/*
2018traintitle_KLI/*
2017testtitle_no/*
boolean/*
